<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Project Turnip, <%= @user.name %></h1>
    <p>
      You have successfully signed up to Project Turnip.
    </p>
    <p>
      To confirm your registration, just follow this link: <a href=<%= @url%>>Click me!</a>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>